h3 {
  font-family: Roboto;
  font-weight: normal;
}

.domain {
  stroke-width: 0px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
